<h1>Edit Item</h1>

<%= render 'form' %>
<br></br>
<%= button_to "Delete Item", "/items/#{@item.id}", method: :delete, data: { confirm: 'Are you sure you want to delete this item?' } %>
<br></br>
<%= link_to "Cancel", item_path(@item) %>